// Logotipo
h1{
    font-family:$font-family;
    font-size: convertir(36);
    font-style:regular;
    color: $color-negro;
}
//Titulo
h3{
    font-family:$font-family;
    font-size: convertir(36);
    font-style:bolder;
    color: $color-negro;
}
p.general{
    font-family:$font-family;
    font-size: convertir(16);
    font-style:regular;
    color: $color-negro;
}
p.principal{
    font-family:$font-family;
    font-size: convertir(18);
    font-style:bolder;
    color: $color-negro;
}
a{
    font-family:$font-family;
    font-size: convertir(18);
    font-style:regular;
    color: $color-blanco;
    text-decoration: none;
}