// Tipografía

$font-family: Arial,sans-serif; // Todo el proyecto



// Colores
$color-fondo-boton: #F2624A;
$color-fondo-seccion-primera: #FFE6D1;  
$color-fondo-seccion-tercera: #F8F6EE; 
$color-footer: #C4C4C4; 
$color-blanco: #ffff;//Fondo del header y seccion segunda
$color-negro: #000000;//Todo el texto


